################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GalleryExample.Web/App_Data/NuGetBackup
/GalleryExample.Web/App_Plugins/ModelsBuilder
/GalleryExample.Web/bin
/GalleryExample.Web/obj/Debug
/GalleryExample.Web/Umbraco
/GalleryExample.Web/Umbraco_Client
/packages
