################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GalleryExample.Web/App_Data/NuGetBackup
/GalleryExample.Web/App_Plugins/ModelsBuilder
/GalleryExample.Web/bin
/GalleryExample.Web/obj/Debug
/GalleryExample.Web/Umbraco
/GalleryExample.Web/Umbraco_Client
/packages
/GalleryExample.Web/App_Data/Logs
/GalleryExample.Web/App_Data/TEMP
/GalleryExample.Web/App_Data/umbraco.config
/GalleryExample.Web/App_Data/cache
/GalleryExample.Web/App_Data/Models
